html,
body {
  background-color: #fffffe;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

body * {
  box-sizing: border-box;
}

.bg-color {
  max-width: 1320px;
  background-color: #fffffe;
}

/* SigninMain */
.container_form_v {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.signin-form-label{
  margin-bottom: 20px;
  margin-top: 10px;
}

.container_form {
  max-width: 1320px;
  padding: 0 8px;
  text-align: center;
}

.avatar_box {
  margin: 10% 0 0 0;
}

.main {
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 0 0 0;
  background-color: #fffffe;
  flex-wrap: wrap;
}

input[type=text] {
  width: 200px;
  padding: 12px;
  margin: 0 0 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 2px solid #5138cb;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
}
.continue_btn {
  width: 200px;
  border: 2px solid #5138cb;
  background-color: #d1d1e9;
  padding: 10px 18px;
  border-radius: 3px; 
  margin: 8px 0;
  text-align: center; 
}

button[type=submit] {
  width: 200px;
  background-color: #5138cb;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: white;
}
.signout-btn {
  padding: 2px 10px;
}
.avatar_box img {
  width: 160px;
  height: 160px;
}
.tags {
  background-color: #6246ea;
  color: white;
  margin-right: 5px;
  border-radius: 3px;
  padding: 5px;
}

.cart-badge {
  position: relative;
}

.cart-badge__count {
  position: absolute;
  top: -4px;
  right: 14px;
  background-color: white;
  color: black;
  border-radius: 50%;
  border: 2px solid #5f43be;
  font-size: 10px;
  font-weight: 700;
  padding: 1px 4px;
}


@media screen and (max-width: 480px) {

  /* SigninMain */
  .avatar_box img {
    width: 200px;
    height: 200px;
  }

  input[type=text],
  button[type=submit],
  .container_form_v,
  .container_form {
    width: 100%;
  }

  /* BookList */

  header.header-style.page-header {
    position: sticky;
    top: 0;
    z-index: 1000;
  } 

   div.card.book-card {
    width: 100%;
  }

  div.container.d-flex {
    flex-direction: column;
  }

  .dropdown>button,
  input#search {
    width: 100%;
    margin: 0 0 5px 0;
  }

  /* Specificbook */
  div.rowPropetyBook {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  div.rowPropetyBook>div {
    width: 100%;
    padding: 0 8px;
  }

  div.row_item2 {
    margin: 0%;
  }

  /*Cart  */
  div.grid-container {
    grid-template-columns: 100%;
    justify-content: center;
  }

  div.purchase>button {
  width: 100%;
  }
  div.purchase>button[type=text] {
    display:none;
  }
  .grid-container-book>div p {
    font-size: 12px;
  }
  div.book-cart-item4 img {
    width: 35%;
    height: 35%;
}
.grid-container-book {
  max-width: 98%;
}
/* headerBar */
h2.header_title {
  font-size: 17px;
}
.navbar button {
  font-size: small;
}

.navbar span {
  font-size: small;
}
#arrow {
  display: block !important;
  margin: 0px 0px;
}
img#arrow.navbar-brand {
  width: 25px;
  height: 35px;
}

svg#badge {
  width: 35px;
  height: 35px;
}

/* purcher */
img.navbar-brand.shopping{
  display:none;
}
}



footer {
  display: flex;
  justify-content: center;
}

/*Booklist  */
.searchFilter {
  margin-top: 20px;
}

.book-card {
  width: 32%;
  margin-bottom: 25px;
  border:none;
}

/* Header */
.navbar {
  display: flex;
    justify-content: center;
    align-content: center;
  color: #ffffff;
  padding: 0 0;
  height: 80px;
  box-shadow: 1px 0px 5px 0px rgb(0 0 0 );
}

.header_title {
  font-size: 20px;
  margin: 0 0 0 0;
}

svg#badge {
  width: 50px;
  height: 50px;
}
.navbar-brand {
  width: 30px;
  height: 30px;
  margin: 0 16px 0 16px;
  padding: 0 0;
}

.btn_m {
  margin: 0 0;
  border: 3px solid #5138cb;
  border-radius: 3px;
  background-color: #5138cb;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0 5px 0 5px;
  color: white;
}

.header-style {
  background-color: #3e2d93;
}


#arrow{
  display: none;  
}


.bg-card-body {
  background-color: #d1d1e9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.book-card-image {
  max-width: 100%;
  max-height: 285px;
  margin-bottom: 38px;
  transition: .2s transforms;
}

.book-card-image:hover {
  transform: scale(1.1);
}

h6.card-title {
  font-weight: bold;
  margin: 0 0 0 0;
}

div.card-body {
  padding: 40px 25px 30px 25px;
  border-radius: 3px;
}

.btn_sm {
  width: 150px;
  height: 52px;
  margin-left: 20px;
  border: 2px solid #6246ea;
  border-radius: 3px;
  background-color: white;
}

.btn_r {
  width: 80px;
}

.container {
  width: 100%;
}

#search {
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #6246ea;
  border-radius: 3px;
  font-size: 16px;
  background-color: white;
  background-image: url(./Components/search-3076.svg);
  background-position: 85% 15px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  padding: 12px 40px 12px 20px;
}



button[type=submit] {
  background-color: #6246ea;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 3px;
}

button[disabled] {
  background-color: #c2bdda;
  color: gray;
}

.rowPropetyBook {
  display: flex;
  justify-content: space-around;
}

.row_item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding: 0 0 0 0;
  margin: 25px 0;
}

.row_item1 img {
  width: 18em;
  margin: 12px 0;
}

.row_item2 {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 80%;
  margin: 50px 0;
}

.row_item3 {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 80%;
  border-style: dashed;
  border-color: darkblue;
  border-radius: 3px;
  padding: 15px;
  margin: 25px 15px;
  font-weight: bold;
  background-color: #d1d1e9;
}

.info_book {
  color:black;
  font-weight: bold;
}
.info_book span{
  font-weight: normal;
}
.column3_row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.column3_button {
  display: flex;
  justify-content: flex-end;
}

input {
  display: flex;
  width: 20%;
  border-radius: 16px;
  padding-left: 8px;
}


.purchase {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

#description {
  margin: 0 10px 0 10px;
}
#description span{
  font-weight: bold;
}
#book_name {
  font-weight: bold;
  margin-bottom: 30px;
  color:darkblue;
}



.book-cart-row div {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
}

div.purchase button {
  margin: 10px 10px 20px 10px;
}


div.noPage p {
  display: flex;
  justify-content: center;
}

.book-cart-row p {
  margin: 0 0 0 0;
}

#badge {
  margin: 0px 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% auto 25%;
  margin-top: 30px;
  margin-bottom: 15px;
}

.grid-container>div {
  text-align: center;
}

.grid-container-book {
  display: grid;
  grid-template-columns: 35% 25% 25% 15%;
  background-color: #d1d1e9;
  height: 75px;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 5px;
}

.grid-container-book>div:nth-last-child(-n+2){
  text-align: right;
  padding-right: 10px;
}
.grid-container-book>div:nth-child(1){
  padding-left: 10px;
}
.grid-container-book>div:nth-child(2){
  padding-left: 30px;
}
.grid-container-book>div p{
  margin: 0% 0% 0% 0%;
}
.totalPrice {
  display: flex;
  justify-content: flex-end;
  margin-top:30px;
  text-decoration: bold;
}

#purch {
  background-color: #eef2c8;
}



.noPage {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
  flex-wrap: wrap;
}


.container_emptyCart {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img-emptyCart {
  margin-top: 50px;
}

.text-emptyCart {
  margin-bottom: 120px;
}




html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100%;
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-header,
.page-footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.page-body {
  flex-grow: 1;
}
.tooltip {
  position: relative;
  opacity: 1;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color:#e5e5ed;
  color: #3e2d93;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left:  20%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

