html,body {
  background-color: hsl(60, 67%, 92%);
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
body * {
  box-sizing: border-box;
}

.container_form_v {
  display:flex;
  align-items: center;
  flex-direction: column;
}
.container_form {
  max-width: 1320px;
  padding: 0 8px;
  text-align: center;
}
.avatar_box {
  margin: 10% 0 0 0;
}
.main{
  display:flex;
  height: 80vh;
  justify-content: center;
  margin: 0 0 0 0;
  background-color: hsl(60, 67%, 92%);  
  flex-wrap: wrap;  
}
input[type=text] {
  width: 200px;
  padding: 12px;
  margin: 0 0 8px 0;
  display: inline-block;
  border: 2px solid #EF9BE5;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

button[type=submit] {
  width: 200px;
  background-color: #EF9BE5;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.avatar_box img {
  width: 160px;
  height: 160px;
}
@media (max-width: 320px) {
  .avatar_box img {
      width: 200px;
      height: 200px;
  }  
input[type=text], button[type=submit], .container_form_v, form {
  width:100%;
} 

}


footer {
  display:flex;
  justify-content: center;
}


.book-card {
  width: 30%; 
  margin-bottom:10px;
}
.navbar {
  border-bottom: 2px solid black;
  color: #ffffff;
  padding: 0 0 ;
  height: 80px;
}
.header_title {
  font-size: 20px;
  margin: 0 0 0 0;
}
.navbar-brand {
    width: 50px;
  height: 50px;
  margin: 0 16px 0 16px;
  padding: 0 0;
}
.btn_m {
  margin: 0 0;
  border: #800080 solid ;
  border-radius: 4px;
  background-color: #EF9BE5; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0 5px 0 5px;
}
.header-style {
  background-color: purple;
}
.bg-color {
  max-width: 1320px;
  background-color: hsl(60, 67%, 92%);
}
.bg-card-body {
  background-color: #c5f9a4; 
}
.book-card-image {
  width: 55%;
  margin-bottom: 8px;
  transition: .2s transforms;
}
.book-card-image:hover{
  transform: scale(1.1);
} 

h6.card-title {
font-weight: bold;
margin: 0 0 0 0;
}
div.card-body {
padding: 8px 8px;
}

.btn_sm {
      width: 150px;
      height: 52px;
      margin-left: 20px;
      border: purple solid ;
      border-radius: 4px;
      background-color: white; 
  }
  .btn_r {
      width: 80px;
  }
.container {
  width: 100%;
}
#search {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid purple;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url(./Components/search-3076.svg);
  background-position: 210px 15px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  padding: 12px 40px 12px 20px;
}



button[type=submit] {
  background-color: #EF9BE5;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid purple;;
  border-radius: 4px;
  cursor: pointer;
}
button[disabled] {
  background-color: #f0eaef;
}
.row {
  display: flex;
  justify-content: space-around;
}
.row_item1{
  display: flex;
  justify-content: center;
  align-items: center;
  width:33%;
  padding: 0 0 0 0;
  background-color: #c5f9a4; 
  margin: 25px 0;
}
.row_item1 img {
  width: 15em;
  margin: 12px 0;
}
.row_item2{
  display: flex;
  flex-direction: column;
  width:25%;
  height: 80%;
  margin: 50px 0;
  padding: 0 12px 0 0;
}
.row_item3{
  display: flex;
  flex-direction: column;
  width:30%; 
  height: 80%;
  border: solid;
  padding: 15px;
  margin: 25px 15px;
  font-weight: bold;
}
.column3_row{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}
.column3_button{
  display: flex;
  justify-content: flex-end;
}
input {
  display: flex;
  width: 20%;
  border-radius: 16px; 
  padding-left: 8px;
}


.purchase {
  display: flex;
  justify-content: space-around;
}

#description {
  margin: 0 10px 0 10px;
}

#book_name {
  font-weight: bold;
}

.book-cart-row {
  display: flex;
  background-color: #faf5ee; 
  height: 80px;
  border: orange solid ;
  margin: -1px 10px;
}
.book-cart-row div{
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
}

div.purchase button {
  margin: 10px 10px 20px 10px;
}


div.noPage p {
  display:flex;
  justify-content: center;
}

.book-cart-row p{
  margin: 0 0 0 0;
}

#badge {
  margin: 0px 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% auto 25%;
}

.grid-container > div {
   text-align: center;
}

.totalPrice {
  display: flex;
  justify-content: flex-end;
  margin:3% 17%;
  text-decoration: bold;
}
#purch {
  background-color: #eef2c8;
}
.book-cart-item2{
  text-align: center;
}
  .book-cart-item3{
    text-align: end;
}
.book-cart-item4 img{
  margin: auto;
  width: 13%;
}
.noPage {
  display:flex;
  justify-content: center;
  margin: 20px 0 20px 0;
  flex-wrap: wrap;
}


.container_emptyCart {
  display:flex;
  align-items: center;
  flex-direction: column;
}
.img-emptyCart {
  margin-top: 50px;
}
.text-emptyCart {
  margin-bottom: 120px;
}




html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.page-header, .page-footer {
  flex-grow: 0;
  flex-shrink: 0;
}
.page-body {
  flex-grow: 1;
}